.all-aktuality{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   column-gap: 5rem;
   row-gap: 5rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   max-width: 1400px;
   padding: 0 2rem;
}

.aktualita-one-everithing{
  position: relative;
  transition: 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aktualita-item {
  border-radius: 15px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  min-height: 500px;
  box-shadow: 0px 2px 5px #ffffff75;
  transition: 0.3s ease-out;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.aktualita-item::before{
  content: '';
  position: absolute;
  bottom: -20%;
  left: 70%;
  width: 100%;
  height: 100%;
  background-image: url('../images/hive-pattern.png');
  background-size: 80%; 
  background-position: bottom left; 
  background-repeat: no-repeat;
  opacity: 0.2;
}


 .aktualita-item::after{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 25px;
  background-color: #fff;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  opacity: 0.5;
  transition: 0.3s ease-out;
  box-shadow: 0px 5px 10px #181818;
 }

 .aktualita-item:hover.aktualita-item::after{
  opacity: 1;
  height: 60px;
  width: 150px;
 }

 .aktualita-item:hover{
   box-shadow: 0px 2px 20px #ffffffc3;
 }

 .aktualita-and-about{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
 }
 
 .aktualita-image-one {
  width: 100%;
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
  filter: grayscale(50%);
}

.aktualita-item:hover .aktualita-image-one{
  filter: grayscale(0%);
  transform: scale(1.15);
 }

 .aktualita-about{
  width: 105%;
  min-height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 20;
  background-color: #FEDF25;
  box-shadow: 0px -5px 10px #181818;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-out;
 
 }

 .aktualita-about h2 {
  font-size: 1rem;
  color: #181818; 
  text-align: center;
  padding: 1rem 1rem;
  width:100%;
  height: 100%;
  overflow: hidden;
  transition: ease-out 0.3s;
  font-weight: 500;

  /* text-transform: capitalize; */
}


.aktualita-one-everithing:hover .aktualita-about{
  box-shadow: 0px -5px 10px #fff;
}


 .aktualita-item img {
  width: 100%;
  max-width: 350px; 
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 5px 10px #00000075;
  transition: 0.3s ease-out;
  
}
 
 
 .aktualita-item:hover.aktualita-item h2{
  box-shadow: 0px -10px 10px #fff;
 }

 .text-date-akt{
   position: absolute;
   top: -10px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 10;
   opacity: 0;
   transition: 0.3s ease-out;
 }

 .only-text-date-akt{
  z-index: 10;
  color: #181818;
  font-weight: 500;
 }

 .aktualita-item:hover .text-date-akt{
  opacity: 1;
  top: 5px;
 }
 
 .text-text-akt {
   max-width: 325px;
   font-size: 1rem;
   color: #fff;
   font-weight: 400;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 6;
   padding: 0 0.5rem;
 }

 .aktualita-aktualita {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 100%;
  height: 30px;
  border-radius: 0 0 10px 10px;
  text-align: center;
 }

 .ref-to-aktualita{
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  content:'';
  width: 100px;
  height: 25px;
  background-color: #fff;
  opacity: 0.5;
  transition: 0.3s ease-out;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -2px 10px #181818;
 }

 .aktualita-item:hover .ref-to-aktualita{
  opacity: 1;
  height: 30px;
  width: 150px;
  bottom: 0px;
 }

 .icon-to-full-akt{
  color: #181818;
  opacity: 0;
  transition: 0.3s ease-out;
 }

 .aktualita-item:hover .icon-to-full-akt{
  opacity: 1;
 }

  .loader-container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }

  .loader-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loader-textr{
    color: #fff;
    text-align: center;
    font-size: 1rem;
  }

  .spinner-main {
    border: 5px solid #f3f3f3;
    border-left-color: #FEDF25;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .error-message {
  color: red;
  text-align: center;
  width: 100%;
  padding: 20px;
  }


  @media (max-width: 1350px){

  }



@media (max-width: 1000px){

  .all-aktuality{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    row-gap: 3rem;
    max-width: 1000px;
    padding: 0 1rem;
  }


  .aktualita-item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    min-height: 450px;
    box-shadow: 0px 5px 20px #00000075;
    transition: 0.3s ease-out;
    position: relative;
    z-index: 2;
  }

  .aktualita-item h2 {
    font-size: 1rem;
  }

  .aktualita-image-one {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-out;
  }
  
  
   .aktualita-item img {
    max-width: 100%;
    height: 200px; 
    aspect-ratio: 4 / 3;
    object-fit: cover; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 5px 10px #00000075;
    transition: 0.3s ease-out;
  }

  .text-text-akt {
    max-width: 100%;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    padding: 0 1rem;
    margin-top: 3rem;
  }

  .aktualita-one-everithing{
    width: 100%;
  }

  .aktualita-about{
    width: 100%;
  }
  

}


@media (max-width: 450px){
  .aktualita-item h2 {
    font-size: 0.9rem;
  }

  .text-text-akt {
    font-size: 0.9rem;
  }

  .loader-textr{
    font-size: 0.9rem;
  }

}
