.all-aktuality{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   column-gap: 2rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   max-width: 1200px;
   padding: 0 2rem;
}

.aktualita-item {
   border-radius: 15px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 350px;
   min-height: 500px;
   box-shadow: 0px 2px 5px #ffffff75;
   transition: 0.3s ease-out;
   position: relative;
   z-index: 2;
   overflow: hidden;
 }

 .aktualita-item::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('../images/hive-pattern-gold.png');
   background-size: cover;
   background-position: left;
   z-index: -1;
   opacity: 0.1;
   background-repeat: no-repeat;
   border-radius: 15px;
 }

 .aktualita-item:hover{
   background-color: #FEDF25;
   box-shadow: 0px 2px 20px #ffffffc3;
 }
 

 .aktualita-item:hover.aktualita-item::before{
  background-image: url('../images/hive-pattern.png');
  opacity: 0.1;
  transform: scale(1.5);
 }


 .aktualita-item:hover .text-text-akt{
  color: #181818;
 }

 .aktualita-and-about{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
 }
 
 .aktualita-image-one {
  width: 100%;
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
  filter: grayscale(50%);
}

.aktualita-item:hover .aktualita-image-one{
  filter: grayscale(0%);
 }

 .aktualita-about{
  width: 100%;
  height: 100%;
 }

 .aktualita-item img {
  width: 100%;
  max-width: 350px; 
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 5px 10px #00000075;
  transition: 0.3s ease-out;
}
 
 .aktualita-item h2 {
   position: relative;
   font-size: 1.1rem;
   color: #fff;
   text-align: center;
   padding: 1rem 1rem;
   background-color: #181818;
   box-shadow: 0px -5px 10px #fff;
   width:100%;
   height: 50px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   transition: ease-out 0.3s;
   text-transform: uppercase;
 }

 .aktualita-item:hover.aktualita-item h2{
  box-shadow: 0px -10px 10px #fff;
 }

 .text-date-akt{
   font-size: 0.9rem;
   color: #181818;
   font-weight: 500;
   background-color: #FEDF25;
   width: 100%;
   text-align: center;
   padding: 0.2rem 0.5rem;
   box-shadow: 0px 5px 10px #00000075;
 }
 
 .text-text-akt {
   max-width: 325px;
   font-size: 1rem;
   color: #181818;
   font-weight: 500;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4;
   padding: 0 0.5rem;
 }

 .aktualita-aktualita {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  width: 100%;
  max-height: 100%;
  height: 30px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  border-top: 3px solid #fff;
 }

 .aktualita-aktualita a{
    text-transform: uppercase;
    color: #FEDF25;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 600;
 }

@media (max-width: 1000px){

  .all-aktuality{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    row-gap: 3rem;
    max-width: 1000px;
    padding: 0 1rem;
  }

  .aktualita-item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    min-height: 450px;
    box-shadow: 0px 5px 20px #00000075;
    transition: 0.3s ease-out;
    position: relative;
    z-index: 2;
  }

  .aktualita-image-one {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-out;
  }
  
  
   .aktualita-item img {
    max-width: 100%;
    height: 200px; 
    aspect-ratio: 4 / 3;
    object-fit: cover; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 5px 10px #00000075;
    transition: 0.3s ease-out;
  }

  .text-text-akt {
    max-width: 100%;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    padding: 0 1rem;
  }

}


@media (max-width: 450px){
  .aktualita-item h2 {
    font-size: 1rem;
  }

  .text-text-akt {
    font-size: 0.9rem;
  }

  .aktualita-aktualita {
    border-top: 1px solid #fff;
   }
}
