.matches-table {
   overflow-x: auto;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 2rem;
 }
 
 .matches-table table {
   width: 100%;
   min-width: 800px; 
   border-collapse: collapse;
   background-color: #FEDF25;
   border-radius: 15px;
   overflow: hidden; 
   z-index: 15;
   position: relative;
 }
 
 .matches-table thead {
   background-color: #FEDF25; 
   border-bottom: 2px solid #181818;
 }
 
 .matches-table th {
   padding: 10px;
   text-align: center;
   background-color: #FEDF25;
   border: none; 
 }
 
 .matches-table th:first-child {
   border-top-left-radius: 15px;
 }
 
 .matches-table th:last-child {
   border-top-right-radius: 15px;
 }
 
 .matches-table td {
   padding: 10px;
   text-align: center;
   border-bottom: 2px solid #181818;
   border-left: 1px solid #fffbe9;
   border-right: 1px solid #fffbe9;
 }

 .matches-table td:nth-child(5){
   font-weight: 600;
   font-size: 1.25rem;
 }

 .matches-table tr{
   font-size: 1rem;
   font-weight: 500;
   background-color: #ffef92;
 }

 .matches-table tr:nth-child(even) td{
  border-left: 1px solid #ffef92;
   border-right: 1px solid #ffef92;
 }


 .matches-table tr:nth-child(even) {
   background-color: #fffbe9;
 }
 
 .matches-table tr:hover {
   background-color: #181818;
   color: #fff;
 }

 




 .add-match-form, .edit-match-form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #2596be;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-match-form h3, .edit-match-form h3 {
  margin-bottom: 15px;
  color: #181818;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.add-match-form input, .edit-match-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-match-form button, .edit-match-form button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 1rem;
  width: 100%;
  font-weight: 600;
  color: #fff;
  background-color: #2b771c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.add-match-form button:hover, .edit-match-form button:hover {
  background-color: #FEDF25;
  color: #181818;
}

.edit-match-form button:last-child {
  background-color: #ff5c5c;
}

.edit-match-form button:last-child:hover {
  background-color: #ff8282;
}



 .matches-table th:nth-child(1) { 
   width: 10%; 
 }
 
 .matches-table th:nth-child(2) { 
   width: 15%; 
 }
 
 .matches-table th:nth-child(3) { 
   width: 15%; 
 }
 
 .matches-table th:nth-child(4) { 
   width: 40%;
 }
 
 .matches-table th:nth-child(5) { 
   width: 20%; 
 }
 
.buttons-for-editation-match{
  display: flex;
  flex-direction: row;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.editation-match-btn{
  background-color: #2596be;
  padding: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 5px #181818;
  color: #fff;
}

.editation-match-btn:hover{
  background-color: #2596be;
}


.deletion-match-btn{
  background-color: #ea5d5d;
  padding: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 5px #181818;
  color: #fff;
}

.deletion-match-btn:hover{
  background-color: #e62b2b;
}


.spinner-table {
  border: 5px solid #fff;
  border-left-color: #FEDF25;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

.vyber-hrace{
  background-color: #fff;
  color: #f181818;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
}

.winner-mode{
  color: rgb(34, 165, 34);
  transition: 0.3s ease-out;
}

.looser-mode{
  color: rgb(203, 54, 54);
}

.even-mode{
  color: rgb(206, 15, 203);
}

.matches-table tr:hover .winner-mode {
  -webkit-filter: drop-shadow(1px 1px 10px #2bff00);
  filter: drop-shadow(1px 1px 10px #2bff00);
}

.matches-table tr:hover .looser-mode {
  -webkit-filter: drop-shadow(1px 1px 10px #ff0000);
  filter: drop-shadow(1px 1px 10px #ff0000);
}

.matches-table tr:hover .even-mode {
  -webkit-filter: drop-shadow(1px 1px 10px #ff00e6);
  filter: drop-shadow(1px 1px 10px #ff00e6);
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner-container p{
  color: #fff;
}



 @media (max-width: 1000px) {
  .matches-table {
    max-width: 900px;
  }

  .matches-table td{
    padding: 5px;
  }

  .matches-table td:nth-child(5){
    font-size: 1.15rem;
  }
 
  .matches-table tr{
    font-size: 0.9rem;

  }
}