.content-container{
   display: flex;
   min-height: 60vh;
   width: 100%;
   justify-content: center;
   align-items: center;
   column-gap: 10rem;
   padding: 0 2rem;
}

.chained-teams{
   text-align: center;
   font-size: 1rem;
   font-weight: 500;
}

.buttons-team-y {
   display: flex;
   flex-direction: column;
   row-gap: 5rem;
   justify-content: center;
}

.button-zapasy, .button-tabulka, .button-statistiky {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #181818;
   padding: 1rem;
   width: 400px;
   border-radius: 10px;
   box-shadow: 0px 5px 20px #00000075;
   text-decoration: none;
   font-size: 1.2rem;
   color: #fff;
   font-weight: 600;
   text-transform: uppercase;
   transition: 0.3s ease-out;
}

.button-zapasy:hover, .button-tabulka:hover, .button-statistiky:hover{
   background-color: #fff;
   color: #181818;
}

.button-statistiky {
   background-color: #FEDF25;
   color: #181818;
}

.trenery-sekce{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   max-width: 1600px;
   margin: 0 auto;
   padding-top: 1rem;
}

.trener-box{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


.trener-box h3{
   font-size: 1.1rem;
   color: #181818;
   margin-bottom: 1rem;
   font-weight: 600;
}

.trener-box p{
   color: #5d5d5d;
   font-size: 1rem;
   margin-bottom: 1rem;
   font-weight: 400;
}

.trener-box h5{
   font-size: 1.1rem;
   color: #181818;
   margin-bottom: 1rem;
   font-weight: 600;
}

.trener-box img{
   width: 150px;
   height: 150px;
   border-radius: 10px;
   object-fit: cover;
   margin-bottom: 2rem;
   transition: 0.3s ease-out;
   box-shadow: 0px 5px 20px #00000075;
}

.trener-box img:hover{
   transform: scale(1.05);
 }


@media (max-width: 1000px){
   .content-container{
      flex-direction: column;
      display: flex;
      height: 100%;
      min-height: 60vh;
   }

   .buttons-team-y {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      justify-content: center;
      align-items: center;
      width: 100%;
   }

   .button-zapasy, .button-tabulka, .button-statistiky {
      width: 90%;
   }

   .chained-teams{
      padding: 2rem 0;
   }

   .trener-box h3{
      font-size: 1rem;
      color: #181818;
      margin-bottom: 1rem;
      font-weight: 600;
   }
   
   .trener-box p{
      color: #5d5d5d;
      font-size: 0.9rem;
      margin-bottom: 1rem;
      font-weight: 400;
   }
   
   .trener-box h5{
      font-size: 1rem;
      color: #181818;
      margin-bottom: 1rem;
      font-weight: 600;
   }
   
   .trener-box img{
      width: 100px;
      height: 100px;
   }
}
