.section-pickme {
   background-color: #FEDF25;
   margin-top: 10rem;
   margin-bottom: 10rem;
   padding: 5rem 0;
   display: flex;
   justify-content: center; 
   border-top: 10px solid #fff;
   border-bottom: 10px solid #fff;
 }
 
 .pickme-both {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: 0.3s ease-out;
   width: fit-content; 
   margin: 0 auto; 
   text-decoration: none;
 }
 
 
 .pickme-both img {
   width: 200px;
   height: 200px;
   object-fit: cover;
   border: 5px solid #181818;
   border-radius: 15px;
   transition: 0.3s ease-out;
   filter: grayscale(100%);
 }
 
 .pickme-both h2 {
   margin-top: 2rem;
   color: #181818;
   font-size: 1.5rem;
   transition: 0.3s ease-out;
 }
 
 .pickme-both:hover {
   transform: scale(1.05);
 }
 
 .pickme-both:hover img {
   border: 10px solid #fff;
   filter: grayscale(0%);
 }
 
 .pickme-both:hover h2 {
   color: #fff;
 }
 


@media (max-width: 1000px){
  .pickme-both img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #181818;
    border-radius: 15px;
    transition: 0.3s ease-out;
    filter: grayscale(100%);
  }

  .pickme-both {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-out;
    width: fit-content; 
    padding: 0 2rem;
    margin: 0 auto; 
    text-decoration: none;
  }
  
}

@media (max-width: 450px){
  .pickme-both h2 {
    font-size: 1.25rem;
  }
}