.button-group{
   margin: 0 auto;
   margin-top: 5rem;
   margin-bottom: 5rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
   max-width: 1600px;
   min-height: 30vh;
}

.button-group.diff{
  margin-top: 0rem;
   margin-bottom: 0rem;
   min-height: 20vh;
}

.button-container {
   position: relative;
   width: 300px;
 }
 
 .toggle-button {
   width: 100%;
   padding: 1rem;
   background-color: #181818;
   color: #fff;
   border: none;
   border-radius: 10px;
   box-shadow: 0px 5px 20px #00000075;
   cursor: pointer;
   font-size: 1.1rem;
   font-weight: 500;
   text-align: center;
   z-index: 2;
   transition: 0.3s ease-out;
 }

 .toggle-button:hover{
  transform: scale(1.05);
  background-color: #FEDF25;
  color: #181818;
 }
 
 .slide-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;
   font-size: 1rem;
   font-weight: 500;
   width: 100%;
   bottom: 20px; 
   color: #181818;
   transition: bottom 0.3s ease-out, opacity 0.3s ease-out; 
   opacity: 0; 
   z-index: 1;
   text-align: center;
   pointer-events: none;
 }
 
 .slide-content.open {
   bottom: -80px;
   opacity: 1;
 }
 