.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.login-form {
  background-color: #FEDF25;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 20px #00000075;
  width: 400px;
}


.input-group {
  margin-bottom: 1rem;
}

.login-form h2{
  margin-bottom: 1rem;
  text-align: center;
  color: #181818;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #181818;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  min-height: 50px;
  height: 50px;
  border: 1px solid transparent;
  outline: none;
}

.input-group input[type="text"],
.input-group input[type="password"] {
  background-color: #fff;

}

.input-group input[type="text"]:focus,
.input-group input[type="password"]:focus {
  border: 1px solid #181818;
  background-color: #ffffff;
}

.login-button {
  width: 100%;
  height: 50px;
  padding: 0.75rem;
  background-color: #2596be;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.login-button:hover {
  background-color: #1d7392;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #808080;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.3s ease-out;
}

.toggle-password:hover {
  background-color: #fff;
  color: #181818;
}

#password {
  padding-right: 40px;
  margin: 0px;
}


.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px auto;
}

.logout-container h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.user-token-time {
  font-size: 1rem;
  color: #646464;
  margin-bottom: 20px;
}

.logout-button {
  background-color: #ff4c4c;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e03e3e;
}

.user-identification{
  font-size: 1rem;
  color: #181818;
  margin-bottom: 1rem;
}

.error-msg{
  text-align: center;
}


@media (max-width: 500px){
  .login-container {
    padding: 0 1rem;
  }


  .login-form {
    width: 100%;
  }

  .input-group label {
    font-size: 0.9rem;
  }

  .login-button {
    font-size: 0.9rem;
  }

  .logout-container h2 {
    font-size: 1rem;
  }

  .user-token-time {
    font-size: 0.9rem;
  }
}