.aktuality-all{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 2rem;
   padding: 0 2rem;
   
}

.aktualita-container {
  border-radius: 15px;
  max-width: 100%;
  width: 1200px;
  min-height: 200px;
  height: auto;
  background-color: #FEDF25;
  display: flex;
  box-shadow: 0px 5px 20px #00000075;
  padding: 1rem;
  column-gap: 1rem;
  position: relative;
  padding-left: 100px;
  align-items: stretch;
  transition: 0.3s ease-out;
}

.aktualita-container:hover {
  transform: scale(1.05);
  transform: translateX(5px);
  box-shadow: -10px 0px 10px #ffffffb1;
}
 
.category-akt{
  background-color: #181818;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  text-align: center;
  color: #FFFFFF;
  padding: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 10px 0px 10px #ffffffb1;
}

.category-text{
  font-size: 0.75rem;
  padding: 5px;
  border-radius: 5px;
}

.category-date{
  transform: rotate(-90deg);
  white-space: nowrap;
}

.aktualita-insider{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  width: 100%;
  height: 100%;
}

.headline-headerr{
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.aktualita-filling{
  flex: 5;
  padding: 1rem;
}

.headline-akt{
  font-size: 1.25rem;
  font-weight: 600;
}


.text-akt{
  font-size: 0.9rem;
  font-weight: 500;
}


.aktualita-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.lineup-container{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.lineup-label {
  font-weight: 500;
  font-size: 0.9rem;
}

.lineup-text {
  font-weight: 400;
  font-size: 0.9rem;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.pagination button {
  margin: 0 1rem;
  padding:  0.5rem 1rem;
  background-color: #181818;
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-out;
} 

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination button:hover{
  background-color: #FEDF25;
  color: #181818;
}


.pagination button.active {
  background-color: #FEDF25;
  color: #181818;
}



.cat-info {
  background-color: green;
  color: #FFFFFF;
}

.cat-zapas {
  background-color: red;
  color: #FFFFFF;
}






@media (max-width: 1000px){

  .aktualita-container {
    flex-direction: column;
  }

  .pagination button {
    margin: 0 0.5rem;
  } 

  .aktualita-image{
    width: 100%;
    max-width: 100%;
    max-height: auto;
    height: 250px;
  }
}